.btn {
    width: 241px;
    height: 48px;
    background-color: #dc3545;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    padding: .5rem 1rem;
}

.popover {
    min-width: 276px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.popover-title {
    padding: .5rem .75rem;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.popover-body {
    padding: .5rem .75rem;
    color: #212529;
}

.hide {
    display: none;
}

